<h2>Scheduler</h2>

<div class="container">
  <table>
    <thead>
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Type</th>
    </tr>
    <tr>
      <th><input type="date"
                 [(ngModel)]="startTime"
                 placeholder="Start"
                 class="form-control"/></th>
      <th><input type="date"
                 [(ngModel)]="endTime"
                 placeholder="End"
                 class="form-control"/></th>
      <!--<th><input [(ngModel)]="subject"-->
                 <!--placeholder="Subject"-->
                 <!--class="form-control"/></th>-->
      <th><select [(ngModel)]="apptType" class="form-control">
        <option value="virtual">Virtual</option>
        <option value="inPerson">In-Person</option>
      </select></th>
      <th><span class="float-right" style="white-space: nowrap">
      			<button (click)="createAppointment(startTime, endTime, apptType)" class="btn btn-primary">Add Appointment</button>
  				</span></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let appointment of appointments">
      <td>{{appointment.startTime}}</td>
      <td>{{appointment.endTime}}</td>
      <td>{{appointment.type}}</td>
      <td><button (click)="deleteAppointment(appointment.id)" class="btn btn-danger">Delete</button>
      </td>
      <td><button (click)="schedule(appointment.id, startTime, endTime, apptType)" class="btn btn-primary">Schedule</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

