<div class="container-fluid">
  <h1> Parent Id: {{parentId}}</h1>
  <div class="row">
    <div class="col-4">
      <ul class="list-group">
        <li class="list-group-item active">Students</li>
        <li *ngFor="let student of children"
            class="list-group-item webdev"
            [ngClass]="{'active': student.id === selectedStudentId}"
            (click)="selectStudent(student.id)">
          {{student.username}} ({{student.firstName}} {{student.lastName}})
          <button (click)="deleteStudent(student.id)" class="btn btn-danger float-right">
            x </button>
        </li>
      </ul>
      <input [(ngModel)]="toAddUsername"
             placeholder="student username"
             class="form-control">
      <button (click)="addStudent(toAddUsername)" class="btn btn-primary btn-block">
        + </button>
    </div>

        <div class="col-8">
          <h2> Appointments for Student </h2>
          <ul class="list-group">
            <li *ngFor="let appt of appointments"
                class="list-group-item">
              Name: {{appt.name}} <br>
              Where: {{appt.apptType}} <br>
              End Time: {{appt.endTime}}
            </li>
          </ul>
        </div>
        </div>
</div>
