html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.mb-3, .my-3 {
  margin-bottom: -0.5rem !important;
}

.locations {
  padding-top: 10px;
}

.main {
  background-image: url("https://78.media.tumblr.com/0ebe5b25fd811d5084fcd1be0b1b2c21/tumblr_nc3u4sSFdy1smv9jio1_500.gif");
  background-size:100%;
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
  height: 300px;
  color: white;
  font-weight: bold;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0); }
