<div class="container-fluid">
  <h1>Register</h1>
  <label for="username">Username</label>
  <input [(ngModel)]="username"
         placeholder="username"
         class="form-control"
          id = "username"/>
  <label for="password">Password</label>
  <input [(ngModel)]="password"
         placeholder="password"
         class="form-control"
         id = "password"
         type="password"/>
  <label for="verifyPassword">Verify Password</label>
  <input [(ngModel)]="password2"
         placeholder="verify password"
         class="form-control"
         id = "verifyPassword"
         type="password"/>
  <label for="role">Role</label>
  <select [(ngModel)]="role" class="form-control" id = "role">
    <option selected value = "student">student</option>
    <option value = "tutor">tutor</option>
    <option value = "parent">parent</option>
  </select>
  <button (click)="register(username, password, password2, role)"
          class="btn btn-primary btn-block">
    Register
  </button>

  <a routerLink="/login">Login</a>
  <a routerLink="/home">Home</a>

</div>
